- if user_signed_in?
  .topics-new
    = form_for @topic do |f|
      = f.text_field :title, placeholder: " 記事タイトル", class: "new_topic__title"
      = f.text_area :content, placeholder: "記事内容", class: "new_topic__content"
      = f.submit "記事投稿", class: "new_topic__submit"
- else
  %div{style: "color: red; font-size: 50px;"}
    不正なアクセスです。