.profile
  = render 'layouts/header'
    
  .profile__text
    .profile__text__info 
      %span 江崎 司(Ezaki Tsukasa),
      23歳, 男性,
      %p 獅子座, A型, 8/7/23誕生, 長崎出身, 177.4cm, 64.2kg
    .profile__text__content
      .profile__text__content__history
        %span ___経緯______
        %p 2017年,7月,友人ら3名でロックバンド "Dear Wack" を結成。
        %p 2年間 テクノ + ロック というスタイルで楽曲を生み出してきたDearWackであったが、2019年に解散。
        %p ギターボーカル兼リーダーの江崎だけが残り、バンド名を牽引しソロ活動を開始する。
        %br
      .profile__text__content__name
        %span ___名前の由来______
        %p DearWackを日本語訳すると「親愛なる愚か者」「拝啓、クソ野郎」などという意味になる。
        %p 直接言いたいことを言うには勇気がいる。度胸がいる。筋肉がいる。彼には何もなかった。
        %p しかしギターとマイクがあった。紙とペンがあった。彼が綴る歌詞には、持たざる者の憂（うれい）や狂気が宿っている。
        %p そんな彼を見て、結成当時のメンバーがつけた名であった。
        %p そして今となっては一人になり、それでも"DearWack"と名乗り続ける彼。
        %p Wack（クソ野郎）とは、曲をきく人へ向けた言葉なのか、曲を書く彼自身なのか。
        %p それは、彼の曲を聴くことで初めて分かるのかもしれない。
        %br
      .profile__text__content__activity
        %span ___現在の活動______
        %p 2020年に入り、精力的にLIVEやSNSでの発信を決意した江崎であったが、
        %p 時期を同じくして新型コロナウイルスによる、世界規模のパンデミックが起こってしまう。
        %p これによってLIVE活動は一切できなくなり、現在はTikTokを中心に既存の曲をカバーした動画を配信している。
        = link_to "https://www.tiktok.com/@dearwack", target: :_blank do
          %p DearWackのTikTok
        %br
      .profile__text__content__routes
        

= render 'layouts/footer'