.news
  .news__info 2020/03/19
  .news__title TikTokアカウント開設。
  .news__info 2020/03/19
  .news__title 新型コロナウイルスに伴うLIVE中止のお知らせ。
  .news__info 2020/03/19
  .news__title TikTokアカウント開設。
  .news__info 2020/03/19
  .news__title 新型コロナウイルスに伴うLIVE中止のお知らせ。
  .news__info 2020/03/19
  .news__title 新型コロナウイルスに伴うLIVE中止のお知らせ。
.title
  .title__dear-wack
    Dear Wack
  .title__official-website
    Official Website
.menu
  .menu__sns SNS
  .menu__live LIVE
  .menu__youtube YouTube
  .menu__profile Profole
.photos
  .photo1
  .photo2
  .photo3
.photos
  .photo4
  .photo5
  .photo6
.photos
  .photo7
  .photo8
  .photo9