.top_page
  .news
    .news__info 2020/03/19
    .news__title TikTokアカウント開設。
    .news__info 2020/03/19
    .news__title 新型コロナウイルスに伴うLIVE中止のお知らせ。
    .news__info 2020/03/19
    .news__title YouTubeチャンネル開設。
    .news__info 2020/03/19
    .news__title 新型コロナウイルスに伴うLIVE中止のお知らせ。
    .news__info 2020/03/19
    .news__title 新型コロナウイルスに伴うLIVE中止のお知らせ。
  .title
    .title__dear-wack Dear Wack
    .title__official-website 拝啓、クソ野郎____。
  .menu
    .menu__know
      .menu__know__title Know
      .menu__know__list Profile
      .menu__know__list Interview
      .menu__know__list Roots
    .menu__sns
      .menu__sns__title SNS
      .menu__sns__list
        = link_to "https://twitter.com/ttmts060" do
          Twitter
      .menu__sns__list
        = link_to "https://www.instagram.com/deardearwack/" do
          Instagram
      .menu__sns__list
        = link_to "https://www.tiktok.com/@dearwack" do
          Tiktok
    .menu__live
      .menu__live__title Live
      .menu__live__list Coming Soon...
    .menu__youtube
      .menu__youtube__title YouTube
      .menu__youtube__list Music channel
      .menu__youtube__list Wac channel
  .photos
    .photo1
    .photo2
    .photo3
  .photos
    .photo4
    .photo5
    .photo6
  .photos
    .photo7
    .photo8
    .photo9