.profile
  .profile__title Dear Wack
  .profile__info 本名:江崎司 年齢:23歳　正座:獅子座　血液型:A型　生年月日:8/7/23 出身地:長崎県
  .profile__text 
    ああああああああああああああああああああああああああああああああああ
    ああああああああああああああああああああああああああああああ
    あああああああああああああああああああああああああああああああああああ
    あああああああああああああああああああああああああああああああ
= render 'layouts/footer'