.profile {
  height: 1500px;
  font-family: 'Klee';
  font-weight: bold;
  color: orangered;
  padding: 40px;
  background-color: rgb(69, 69, 69);
  animation-name: profile-page;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  @keyframes profile-page {
    0% { opacity: 0;}
    100% {
      opacity: 1;
      background-image: image-url("profile.JPG");
      background-position: center;
      background-size: cover;
    }
  }
  &__title {
    height: 120px;
    text-shadow: 0 0 2px gray;
    display: flex;
    font-size: 120px;
    font-weight: normal;
    text-decoration: line-through;
    font-family: Georgia, 'Times New Roman', Times, serif;
    a { text-decoration: none; color: orangered;}
  }
  &__title:hover {
     text-shadow: 0 0 5px white;
     transition: all 300ms 0s ease;
    }
  &__text {
    background-color: white;
    background: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 2px gray;
    padding: 20px;
    margin-top: 40px;
    font-size: 20px;
    &__info {
      margin-bottom: 20px;
      span { font-size: 35px;}
    }
    &__content {
    }
  }
}