.top_page {
  height: 1600px;
  background-image: image-url("smoke.jpg");
  background-size: cover;
  background-position:center;
  color: orangered;
  font-family: Georgia, 'Times New Roman', Times, serif;
  .news {
    height: 300px;
    width: 700px;
    margin-bottom: 20px;
    padding: 30px;
    text-shadow: 0 0 3px white;
    color: white;
    &__info {
      font-size: 13px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    &__title {
      margin: 0 0 12px 10px;
      font-size: 16px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  }

  .title {
    text-shadow: 0 0 2px gray;
    margin: 0 0 50px 20px;
    &__dear-wack {
      height: 110px;
      font-size: 40px;
      display: flex;
      // font-family: fantasy;
      font-size: 100px;
      text-decoration: line-through;
    }
    &__official-website {
      font-size: 30px;
      // font-family: fantasy;
    }
  }
  .menu {
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    a { color: orangered;}
    &__know {
      height: 40px;
      &__title {
        @include display-center;
        @include menu-style;
        cursor: pointer;
      }
      &__list {
        margin: 2px 0;
        @include menu-style;
        text-align: center;
        display: none;
        font-size: 15px;
        line-height: 40px;
      }
    }
    &__sns {
      height: 40px;
      &__title {
        @include display-center;
        @include menu-style;
        cursor: pointer;
      }
      &__list {
        margin: 2px 0;
        @include menu-style;
        text-align: center;
        display: none;
        font-size: 15px;
        line-height: 40px;
      }
    }
    &__live {
      height: 40px;
      &__title {
        @include display-center;
        @include menu-style;
        cursor: pointer;
      }
      &__list {
        margin: 2px 0;
        @include menu-style;
        text-align: center;
        display: none;
        font-size: 15px;
        line-height: 40px;
      }
    }
    &__youtube {
      height: 40px;
      &__title {
        @include display-center;
        @include menu-style;
        cursor: pointer;
      }
      &__list {
        margin: 2px 0;
        @include menu-style;
        text-align: center;
        display: none;
        font-size: 15px;
        line-height: 40px;
      }
    }
  }

  .photos {
    margin: auto;
    display: flex;
    justify-content: center;
    .photo {
      height: 250px;
      width: 250px;
      margin: 5px;
      border: solid 1px black;
      background-color: teal;
    }
  }
}