.top_page {
  .news {
    height: 300px;
    width: 700px;
    margin: 20px;
    padding: 10px;
    background-image: image-url("smoke.jpg");
    background-size: cover;
    background-position:center;
    text-shadow: 0 0 4px white;
    color: white;
    &__info {
      font-size: 13px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    &__title {
      margin: 0 0 13px 10px;
      font-size: 16px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  }

  .title {
    margin: 0 0 10px 20px;
    &__dear-wack {
      height: 110px;
      font-size: 100px;
      font-family: fantasy;
      text-decoration: line-through;
    }
    &__official-website {
      font-size: 30px;
      font-family: fantasy;
    }
  }

  .menu {
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    &__know {
      height: 40px;
      &__title {
        @include display-center;
        @include menu-style;
        cursor: pointer;
      }
      &__list {
        margin: 2px 0;
        @include menu-style;
        text-align: center;
        display: none;
        font-size: 15px;
        line-height: 40px;
      }
    }
    &__sns {
      height: 40px;
      &__title {
        @include display-center;
        @include menu-style;
        cursor: pointer;
      }
      &__list {
        margin: 2px 0;
        @include menu-style;
        text-align: center;
        display: none;
        font-size: 15px;
        line-height: 40px;
      }
    }
    &__live {
      height: 40px;
      &__title {
        @include display-center;
        @include menu-style;
        cursor: pointer;
      }
      &__list {
        margin: 2px 0;
        @include menu-style;
        text-align: center;
        display: none;
        font-size: 15px;
        line-height: 40px;
      }
    }
    &__youtube {
      height: 40px;
      &__title {
        @include display-center;
        @include menu-style;
        cursor: pointer;
      }
      &__list {
        margin: 2px 0;
        @include menu-style;
        text-align: center;
        display: none;
        font-size: 15px;
        line-height: 40px;
      }
    }
  }

  .photos {
    height: 200px;
    width: 600px;
    margin: auto;
    display: flex;
    .photo1 {
      height: 200px;
      width: 200px;
      background-color: greenyellow;
    }
    .photo2 {
      height: 200px;
      width: 200px;
      background-color: brown;
    }
    .photo3 {
      height: 200px;
      width: 200px;
      background-color: darkmagenta;
    }
    .photo4 {
      height: 200px;
      width: 200px;
      background-color: skyblue;
    }
    .photo5 {
      height: 200px;
      width: 200px;
      background-color: aqua;
    }
    .photo6 {
      height: 200px;
      width: 200px;
      background-color: palevioletred;
    }
    .photo7 {
      height: 200px;
      width: 200px;
      background-color: goldenrod;
    }
    .photo8 {
      height: 200px;
      width: 200px;
      background-color: chocolate
    }
    .photo9 {
      height: 200px;
      width: 200px;
      background-color: slateblue;
    }
  }
}