@mixin display-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin menu-style {
  border: solid 1px orangered;
  height: 45px;
  width: 95%;
  font-weight: bold;
}

@mixin background-smoke {
  background-image: image-url("smoke.jpg");
  background-position: top;
  background-size: cover;
}