.footer
  .footer__sns
    .footer__sns__icon
      = link_to "https://twitter.com/ttmts060", target: :_blank do
        %i{class: "fab fa-twitter"}
    .footer__sns__icon
      = link_to "https://www.instagram.com/deardearwack/", target: :_blank do
        %i{class: "fab fa-instagram"}
    .footer__sns__icon
      = link_to "https://www.tiktok.com/@dearwack", target: :_blank do
        %i{class: "fas fa-music"}
    .footer__sns__icon
      = link_to root_path do
        %i{class: "fab fa-youtube"}
  .footer__official
    %i{class: "far fa-copyright"}
    %span DearWack 2020